.search-form__main {
  display: flex;
  flex-direction: column;
  margin: 30% auto;
  padding: 50px 75px 75px 75px;
  width: 50%;
  color: white;
  border: solid 1px white;
  border-radius: 2px;
}

.search-form__select {
  background-color: white;
  color: black;
  width: 75%;
  margin-bottom: 5%;
  padding: 10px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s ;
}

.search-form__select-label {
  margin-bottom: 3%;
  font-size: 1.25em;
  margin-right: auto;
}

.search-form__input {
  margin-bottom: 5%;
  padding: 10px;
  border: none;
  border-radius: 2px;
}
.search-form__input:focus {
  outline: none;
  border: 2px solid rgba(111, 189, 237, 1);
  box-shadow: 0px 0px 10px 5px rgba(111, 189, 237, 0.5);
}

.search-form__input-label {
  margin-bottom: 3%;
  font-size: 1em;
}

.search-form__submit {
  width: 50%;
  border: none;
  padding: 5px;
}