.results_container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  width: 50%;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
  border: solid 1px white; 
  border-radius: 3px;
}

.results_header {
  font-size: 1.5em;
  text-shadow: 0px 0px 5px rgba(0, 237, 20, 1),
               0px 0px 10px rgba(0, 255, 22, 1),
               0px 0px 15px rgba(92, 255, 106, 1)
  ;
}

.results_film-list {
  list-style: none;
  margin-bottom: 5%;
}

.results_film-list ul {
  list-style-type: none;
  line-height: 30px;
}

.results_list li {
  list-style-type: none;
}